.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stoke-linejoin: round;
  stroke-width: .5px;
}

.sidebar.navContainer {
	height: 701px;
	width: 150px;
	background-color: grey
}



